@page "/categories"
@page "/categories/{id}"
@using Model
@using Interfaces
@inject ICategoryService CategoryService

<table class="table">
    <thead>
        <tr>
            <th>
                <h3>Categories</h3>
                <a href="/categoriesdetails">Add New</a>
            </th>
        </tr>
    </thead>
</table>

<p>@Message</p>
@if (listcategories == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th></th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var cat in listcategories)
            {
                <tr>
                    <td style="text-align:right">@cat.Id</td>
                    <td style="text-align:left">@cat.Name</td>
                    <td><a href="/categoriesdetails/@cat.Id"><i>Edit</i></a></td>
                    <td><a href="/categorydelete/@cat.Id"><i>Delete</i></a></td>
                </tr>
            }
        </tbody>
    </table>
}
@code {
        [Parameter]
        public int id { get; set; }

    public IEnumerable<Model.Categories>? listcategories { get; set;}
    public string? Message { get; set; }
    protected override async Task OnInitializedAsync()
    {
        try
        {
        	listcategories = await CategoryService.GetAllCategories();
        }
        catch(Exception e)
        {
            Message = "Something went wrong..." + e.Message;
        }
    }
    
//    {
//        new Category{Id = 1, Name= "Shopping"},
//        new Category{Id = 2, Name= "fuel"}
//    };
//}
}